<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Login/Logout animation concept</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="~/denemelogin/style.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/logincss/css/style.css">

</head>
<body>
    @RenderBody();
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/denemelogin/script.js"></script>
    <script src="~/logincss/js/main.js"></script>
    <script src="~/logincss/js/jquery.min.js"></script>
    <script src="~/logincss/js/popper.js"></script>
    <script src="~/logincss/js/bootstrap.min.js"></script>

</body>
</html>