@model PersonelForgetPasswordViewModel
@{
    Layout = "~/Areas/Account/Views/Shared/_LoginLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section"></h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
            <h3 class="mb-4 text-center" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:500; font-size:x-large">ŞİFRE SIFIRLAMA</h3>
            <form method="post" asp-controller="Account" asp-area="Account" asp-action="ForgetPassword" class="signin-form">
                <div class="form-group">
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email" required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

               @{
                   if(ViewBag.ErrorMessage != null)
                   {
                       <p class="text-danger" style="font-size:small"><strong>@ViewBag.ErrorMessage.ToString()</strong></p>
                   }
               }

                <div class="form-group justify-content-center d-flex">
                    <button class="button-82-pushable" role="button" asp-action="ForgetPassword" asp-area="Account" style="letter-spacing:2px" asp-controller="Account" type="submit">
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                            ŞİFREMİ SIFIRLA
                        </span>
                    </button>
                </div>    
                <div class="form-group justify-content-center d-flex">
                    <a class="button-82-pushable" role="button" asp-action="Login" asp-area="Account" asp-controller="Account">
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                            GERİ DÖN
                        </span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

